page-edit-profile {

  .content {
    color: color($colors, app, white);
  }

  form {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.2px;
    font-size: 13px;
    justify-content: space-between;
    position: relative;
    top: 0;
    transition: 200ms ease all;

    .save {
      margin-top: 26px;
    }

    .form-content {

      .picture-wrapper {
        position: relative;
        padding-bottom: 20px;
        margin-top: -6px;

        .picture {
          border-radius: 49px;
          width: 98px;
          height: 98px;
          margin: 0 auto;
          transition: 100ms ease all;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          box-shadow: 0 4px 13px -4px #000;
          background-color: #fff;

          &:active {
            transform: scale(1.05);
          }
        }
      }
      .change-profile-picture {
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 44px;
        height: 24px;
        padding: 0;
        font-size: 12px;
        margin-top: -12px;
      }
      .user-info-section {

        &:not(:last-child) {
          padding-bottom: 16px;
        }

        ion-textarea {

          textarea {
            resize: none;
          }
        }
      }
      .field-description {
        font-weight: 600;
        font-size: 16px;
        padding: 10px 0;

        &.tiny {
          font-family: "GothamRounded-Book";
          font-size: 14px;
        }
      }

      .gender-picker {
        margin-bottom: 9px;
      }
    }
  }
}
