<ion-header>
  <ion-navbar>
    <ion-title>Edit profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce>
  <div class="spinner-wrapper" *ngIf="!this.pageLoaded && !pageLoadError">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="pageLoadError" class="error">{{pageLoadError}}</div>

  <form class="edit-profile-form"
    *ngIf="this.pageLoaded && !pageLoadError"
    [formGroup]="userForm"
    [class.highlight-validation]="formSubmitted"
    (submit)="save()"
  >
    <div class="form-content">
      <div class="picture-wrapper">
        <div class="picture"
          (click)="showChoosePictureWindow($event)"
          [style.background-image]="'url('+getProfolePicturePathFormatted(account.profilePictureMedium)+')'"
        ></div>
        <input #filePicker type="file" id="register-file-picker" name="picture" hidden="true" accept="image/*" (change)="onChoosePictureFile($event.target.files.item(0))">
        <button (click)="showChoosePictureWindow($event)" type="button" ion-button class="change-profile-picture" [setlabel]="'edit-profile.button.set-picture'"></button>
        <div *ngIf="imgUploadError" class="error">{{imgUploadError}}</div>
      </div>
      <div class="user-info">
        <div class="user-info-section">
          <ion-input type="text" name="firstName" formControlName="firstName" placeholder="First name"></ion-input>
          <div *ngIf="firstName.invalid && (formSubmitted || firstName.touched)" class="error">
            <span *ngIf="firstName.errors.required" [setlabel]="'validation.firstName.required'"></span>
            <span *ngIf="firstName.errors.over" [setlabel]="'validation.firstName.over'"></span>
          </div>
          <ion-input type="text" name="secondName" formControlName="secondName" placeholder="Surname"></ion-input>
          <div *ngIf="secondName.invalid && (formSubmitted || secondName.touched)" class="error">
            <span *ngIf="secondName.errors.required" [setlabel]="'validation.secondName.required'"></span>
            <span *ngIf="secondName.errors.over" [setlabel]="'validation.secondName.over'"></span>
          </div>
          <ion-input type="email" name="username" formControlName="userName" placeholder="Display name"></ion-input>
          <div *ngIf="userName.invalid && (formSubmitted || userName.touched)" class="error">
            <span *ngIf="userName.errors.required" [setlabel]="'validation.userName.required'"></span>
            <span *ngIf="userName.errors.checkUserName" [setlabel]="'validation.userName.pattern'"></span>
            <span *ngIf="userName.errors.over" [setlabel]="'validation.userName.over'"></span>
            <span *ngIf="userName.errors.nameExist" [setlabel]="'validation.userName.nameExist'"></span>
          </div>
          <ion-input type="text" name="location" formControlName="location" placeholder="Address"></ion-input>
          <div *ngIf="location.invalid && (formSubmitted || location.touched)" class="error">
            <span *ngIf="location.errors.over" [setlabel]="'validation.location.over'"></span>
          </div>
          <ion-textarea name="description" formControlName="description" placeholder="Tell us something about yourself"></ion-textarea>
          <div *ngIf="description.invalid && (formSubmitted || description.touched)" class="error">
            <span *ngIf="description.errors.over">Description can't be that long</span>
          </div>
        </div>
        <div class="user-info-section">
          <p class="field-description">This information is private and not shared with anyone else</p>
          <ion-input type="email" name="email" formControlName="email" placeholder="Email"></ion-input>
          <div *ngIf="email.invalid && (formSubmitted || email.touched)" class="error">
            <span *ngIf="email.errors.required" [setlabel]="'validation.email.required'"></span>
            <span *ngIf="email.errors.email" [setlabel]="'validation.email.pattern'"></span>
            <span *ngIf="email.errors.over" [setlabel]="'validation.email.over'"></span>
            <span *ngIf="email.errors.emailExist" [setlabel]="'validation.email.emailExist'"></span>
          </div>
        </div>
        <div class="user-info-section">
          <ion-segment class="gender-picker" mode="md" color="base" formControlName="gender">
            <ion-segment-button [value]="1" [setlabel]="'edit-profile.button.male'"></ion-segment-button>
            <ion-segment-button [value]="0" [setlabel]="'edit-profile.button.female'"></ion-segment-button>
          </ion-segment>
        </div>
        <div class="user-info-section">
          <p class="field-description tiny">If you would like to change your password, please confim and save your changes.</p>
          <ion-input type="password" name="password" formControlName="password" placeholder="Password" clearOnEdit=false></ion-input>
          <div *ngIf="password.invalid && (formSubmitted || password.touched)" class="error">
            <span *ngIf="password.errors.pattern" [setlabel]="'validation.password.pattern'"></span>
            <span *ngIf="password.errors.over" [setlabel]="'validation.password.over'"></span>
          </div>
          <ion-input type="password" formControlName="repeatPassword" placeholder="Repeat password" clearOnEdit=false></ion-input>
          <div *ngIf="userForm.controls.repeatPassword.touched">
            <span class="error" *ngIf="userForm.hasError('mismatchedPasswords')" [setlabel]="'validation.password.mismatchedPasswords'"></span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="error" class="error">{{error}}</div>
    <button [disabled]="(!userForm.valid && formSubmitted) || userForm.pristine" type="submit" block ion-button class="save" [setlabel]="'edit-profile.button.save'"></button>
  </form>
</ion-content>
